@import url('https://fonts.googleapis.com/css?family=Muli');

.navbar {
  background-color: #303030;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  font-family: 'Muli', sans-serif;
  line-height: 50px;
}
.navbar-user {
  float: right;
  font-size: 20px;
  padding-right: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.navbar-brand {
  float: left;
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.calendar {
  position: fixed;
  top: 50px;
  padding: 10px;
}
.heatmap {
  position: fixed;
  bottom: 0;
  width: 140px;
  padding: 10px;
}

.react-calendar-heatmap .color-scale-1 { fill: #acd5f2; }
.react-calendar-heatmap .color-scale-2 { fill: #7fa8d1; }
.react-calendar-heatmap .color-scale-3 { fill: #49729b; }
.react-calendar-heatmap .color-scale-4 { fill: #254e77; }
.react-calendar-heatmap .color-empty { fill: #eeeeee; }
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}
